
/** === Layout === */

#page {
	width: 100%;
}

.site-content {
	overflow: hidden;
}

.category{
	.archive-wrapper{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width:100%;
		padding:2em;
	}

}

