description = "footer"
==
<!-- footer -->
<footer id="my-footer" class="main__footer">
    <div class="container">

        <div class="row main__footer-buttons">
            <div class="col-lg-6">
                <div class="indexedsearchbox-footer">
                    <!--form>
                        <input type="text"  placeholder="Suche" class="searchbox-sword">
                        <button type="submit" class="lupe"><i class="fas fa-search"></i></button>
                    </form-->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="social">

                </div>
            </div>
        </div>

        <div class="row main__footer-copyright">
            <div class="col-lg-5 col-xl-6">
                <p class="copyright p__nm">© 2019</p>
            </div>
            <div class="col-lg-7 col-xl-6">
                <div class="menu_footer">
                    <ul class="nav justify-content-center justify-content-md-end">
                        <li><a href="#">Presse</a></li>
                        <li><a href="#">Datenschutz</a></li>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">AGB</a></li>
                        <li><a href="#">Teilnahmebedingungen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->