description = "forgot modal"
==
<!-- forgot__modal -->
	<div id="forgot-pass" class="modal__window animated-modal">
		<div class="small__title">Login</div>
		<div class="modal-body modal__wrap">	
			<div class="modal-login">
				<div>
					<h3>Passwort vergessen?</h3>
					<div>Bitte den Benutzernamen oder die E-Mail-Adresse eingeben. Sie erhalten dann umgehend Anweisungen zum Zurücksetzen des Passworts zugesandt.</div>
					<!-- ###LOGIN_FORM### -->
					<form>
						<fieldset>
							<div class="form-group">
								<label for="user_f" class="control-label">Benutzername oder E-Mail-Adresse</label>
								<input type="text" class="form-control" name="user_f">
							</div>
							<div class="form-group">
								<input class="btn" type="submit" name="submit" value="Passwort zurücksetzen">
							</div>
						</fieldset>
					</form>

					<!--###FORGOTP_VALID###-->
					<p class="forget-password"><a href="#" rel="nofollow">Zurück zum Anmeldeformular</a>&nbsp;</p>
					<!--###FORGOTP_VALID###-->

				</div>
			</div>
		</div>
	</div>

	<!-- forgot__modal -->